
/*sets fonts and backup fonts for the body*/
body{ 
font-family: "Times New Roman", Helvetica, Verdana;
}

/* adjusts the parameters of the header and footer simultaneously*/
header, footer {
background-color: #39ac71;
  border: 1.5px solid#22774b;
  margin: auto;
  padding: 20px;
  line-height: 5px;
  min-width: 80%;
}

/* Removes borders from images */
.cancelborder {
border: none;}

/* modifies all images to have a max width and border*/
img {
max-width: 700px;
border: 1.5px solid#22774b;}

/*creates a box around a division*/
.box {
  background-color: #39ac71;
  padding: 22px;
  margin: 22px;
  border-radius: 22px;
  border: 1.5px solid#22774b
}

/*aligns the nav and sets a top margin*/
nav {
text-align: center;
margin-top: 25px;
}

/*creates wrapped graphical buttons for text/links*/
.button {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  padding: 5px 10px;
  border-radius: 16px;
  color: #000000;
  background-color: #f5f5f5;
  border: 1px solid #967e27
}

/*really cool code that sets up a pacman imagery for separators*/
hr {
  width: auto;
	height: 22px;
	border: none;
  margin-top: 30px;
  margin-bottom: 20px;
	background-image: url("images/hr-pacman.gif");
  max-width: 746px
}

/*designed to center both text and images*/
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center

}
/*aligns text left*/
.align-left{
text-align: left;}

/*pseudoclass that colors the links depending on interaction*/
a:link    { color: #1a2e23 }
a:visited { color: #1a2e23 }
a:hover   { color: #25985c }
a:active  { color: #45d38f }

/* an active width modifier for the footer image, needs streamlined later */
.widthmod{
max-width: 200px}
